<%= content_for :content do %>
  <div class="h-full flex bg-stone-200 p-8">
    <div class="content grow overflow-y-auto bg-white p-8 border-stone-400 max-w-6xl mx-auto border shadow">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
