<%= content_for :content do %>
  <div class="min-h-screen w-full bg-white">
    <div class="flex justify-center pt-32 pb-12 basis-0">
      <div class="p-12 bg-white flex flex-col gap-20 items-center">
        <%= render LargeAppIconComponent.new %>

        <%= yield %>
      </div>
    </div>
  </div>

<% end %>

<%= render template: 'layouts/application' %>
