<div class="h-full w-full flex flex-col gap-14 bg-stone-800 sm:px-20 px-8 py-8">
  <div class="flex w-full justify-between">
    <div class="flex flex-col">
      <span class="text-sm text-stone-400 font-medium text-stone-100">Application</span>
      <span class="text-2xl font-medium text-stone-100 w-fit"><%= @app.name %></span>
    </div>
  </div>

  <%= render Applications::EditApplicationFormComponent.new(application: @app) %>

  <div class="flex flex-col gap-4 p-4 rounded-md border-stone-300 border">
    <div class="flex flex-col gap-1">
      <span class="font-medium text-lg">Application Deletion</span>
      <span class="text-stone-400 text-sm">Once you delete an Application, it cannot be undone. Please be absolutely certain before proceeding.</span>
    </div>
    <%= button_to application_path(@app), method: :delete, class: 'flex items-center gap-2 bg-red-800 p-2 rounded-md shadow-inner' do %>
      <span class="text-stone-200 text-sm cursor-pointer">Delete Application</span>
    <% end %>
  </div>
</div>
