<div class="flex flex-col gap-14 sm:px-20 max-w-6xl p-8 mx-auto">
  <div class="flex w-full justify-between flex-col">
    <span class="text-sm text-stone-400 font-medium">Edit Customer Deployment</span>
    <div class="flex items-center gap-2 text-2xl">
      <span class=" font-medium text-stone-700 w-fit">Deployment</span>
      <span class="text-stone-500"><%= @subscriber.name %></span>
    </div>
  </div>

  <div class="flex flex-col gap-4 p-4 rounded-md border-stone-300 border">
    <div class="flex flex-col gap-1">
      <span class="font-medium text-lg">Deployment Deletion</span>
      <span class="text-stone-400 text-sm">Once you delete a Deployment, it cannot be undone. Please be absolutely certain before proceeding.</span>
    </div>

    <%= button_to project_subscriber_path(@subscriber), method: :delete, data: { turbo: false }, class: 'flex items-center gap-2 bg-red-800 p-2 rounded-md shadow-inner' do %>
      <span class="text-stone-200 text-sm cursor-pointer">Delete Deployment</span>
    <% end %>
  </div>
</div>
