<div class="h-full w-full flex flex-col sm:px-20 px-8 py-8 items-stretch max-w-6xl mx-auto">
  <div class="w-full flex flex-col gap-8">
    <%= render Subscribers::GridComponent.new(subscribers: @subscribers, project: @project) %>
  </div>
</div>
