<%= render layout: 'layouts/project' do %>
  <div class="flex flex-col gap-8">
    <%= render UI::PageTitleNavigationComponent.new(
      back_path: version_dependencies_path,
      back_text: "Dependencies",
      ) do |component| %>
      <% component.with_title do %>
        <span class="text-2xl font-medium text-stone-700 w-fit"><%= @dependency_info.name.titleize %></span>
      <% end %>
    <% end %>

    <%= render @dependency_info.form_component.new(dependency_info: @dependency_info, version: @version) %>
  </div>
<% end %>
