<%= render layout: 'layouts/project' do %>
  <div class="flex w-full justify-between">
    <div class="flex flex-col">
      <span class="text-sm text-stone-400 font-medium text-stone-100">Add a Dependency</span>
      <span class="text-2xl font-medium text-stone-700 w-fit"><%= @dependency_info.name.titleize %></span>
    </div>
  </div>

  <%= render @dependency_info.form_component.new(dependency_info: @dependency_info, version: @version) %>
<% end %>
