<div class="relative z-10">
  <div class="flex flex-col gap-1">
    <div class="flex items-center space-x-2 justify-between">
      <div class="flex items-center gap-1">
        <div class="font-semibold">Deployments</div>
        <% if project.present? %>
          <div class="text-stone-400">for <%= project.name %></div>
        <% end %>
      </div>

      <div class="flex items-center">
        <%= link_to new_project_subscriber_path, method: :get do %>
          <div class="p-2 cursor-pointer">
            <%= heroicon 'plus', class: 'size-4' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if subscribers.blank? %>
    <div class="flex items-center justify-center h-48 border border-stone-300 mt-6">
      <div class="">Your deployments will be visible here. Create your first deployment.</div>
    </div>
  <% else %>
    <ul class="grid gap-6 grid-cols-[repeat(auto-fit,minmax(22.125rem,1fr))] [@container(min-width:87.5rem)]:grid-cols-[repeat(3,28.1666666667rem)] mt-6">
      <% subscribers&.each do |subscriber| %>
        <%= render Subscribers::ElementComponent.new(subscriber:) %>
      <% end %>
    </ul>
  <% end %>
</div>
