<div data-action="click@window->burger-menu#clickOutside"
  class="hidden opacity-0 absolute w-full items-center bg-stone-950 z-30 border-b border-t border-stone-600 transition-opacity duration-300"
  data-burger-menu-target="menu">
  <%= burger_menu_content %>
</div>
