<div class="flex flex-col gap-1 flex-none">

  <div class="flex items-start gap-1">
    <%= image_tag 'icon.png', class: 'size-8 shrink-0' %>
    <div class="flex flex-col gap-2">
      <span class="text-4xl">Shepherd</span>

      <div class="text-stone-500 text-lg">
        Shepherd makes self-hosting as easy as SaaS.
      </div>
    </div>
  </div>
</div>
