<div data-controller="dynamic-nested-form-add-button-component"
     data-action="click->dynamic-nested-form-add-button-component#addSubform"
     data-dynamic-nested-form-add-button-component-dynamic-nested-form-form-component-outlet="#<%= for_id %>"
     id="<%= for_id %>_add_button">
  <%= button %>
</div>
