<div data-controller="dynamic-nested-form-custom-add-handler-component"
     data-action="<%= event %>->dynamic-nested-form-custom-add-handler-component#addSubform<%= prevent_default ? ":prevent" : nil %>"
     data-dynamic-nested-form-custom-add-handler-component-dynamic-nested-form-form-component-outlet="#<%= for_id %>">
  <%= content %>
</div>
