<div class="h-full w-full flex flex-col gap-14 sm:px-20 px-8 py-8 max-w-6xl mx-auto">
  <%= render UI::PageTitleNavigationComponent.new(
    back_path: project_index_path,
    back_text: "Applications",
    ) do |component| %>
    <% component.with_title do %>
      <span class="text-2xl font-medium text-stone-700 w-fit">New Application</span>
    <% end %>
  <% end %>

  <%= render Applications::CreateApplicationFormComponent.new %>
</div>
