<div class="flex items-center justify-between">
  <div class="flex flex-col gap-1 max-w-96">
    <span class="font-medium text-stone-800 flex-none">Description</span>
    <span class="text-stone-600 text-sm">
      Optional description for this application. Will be visible when installing via Helm.
    </span>
  </div>

  <%= form.text_field :description,
                      value: project_version&.description,
                      class: 'w-1/2 p-2' %>
</div>

<div class="flex items-center justify-between">
  <div class="flex flex-col gap-1 max-w-96">
    <%= form.label :agent, class: 'font-medium text-stone-800 flex-none' %>
    <span class="text-stone-600 text-sm">
      Include an agent in the deployment for monitoring, observability, and upgrades.
    </span>
  </div>

  <%= form.collection_select :agent,
                             [['Yes', :full], ['No', :no]],
                             :second,
                             :first,
                             { include_blank: false, selected: project_version&.agent },
                             class: 'w-1/2 p-2' %>
</div>
