<div class="h-full w-full flex flex-col gap-10 bg-stone-800 sm:px-20 px-8 py-8">
  <div class="flex w-full justify-between">
    <div class="flex flex-col">
      <span class="text-xs sm:text-sm text-stone-400 font-medium text-stone-100">Edit Service</span>
      <span class="sm:text-2xl font-medium text-stone-100 w-fit"><%= @service.name %></span>
    </div>
  </div>

  <%= render Services::ServiceFormComponent.new(service: @service) %>

  <div class="flex flex-col gap-4 p-4 rounded-md border-stone-300 border">
    <div class="flex flex-col gap-1">
      <span class="font-medium text-lg">Service Deletion</span>
      <span class="text-stone-400 text-sm">Once you delete an Service, it cannot be undone. Please be absolutely certain before proceeding.</span>
    </div>
    <%= button_to project_version_service_path(@app, @version, @service), method: :delete, class: 'flex items-center gap-2 bg-red-800 p-2 rounded-md shadow-inner' do %>
      <span class="text-stone-200 text-sm cursor-pointer">Delete Service</span>
    <% end %>
  </div>
</div>
