<div class="h-full w-full flex flex-col gap-14 bg-stone-800 sm:px-20 px-8 py-8">
  <div class="flex w-full justify-between">
    <div class="flex flex-col">
      <span class="text-sm text-stone-400 font-medium text-stone-100">New Service</span>
      <span class="text-2xl font-medium text-stone-100 w-fit">New Service</span>
    </div>
  </div>

  <%= render Services::CreateServiceFormComponent.new %>
</div>
