<%= render layout: 'layouts/project' do %>
  <div class="w-full flex flex-col gap-14 h-full">
    <%= render UI::PageTitleNavigationComponent.new(
      back_path: version_path(@version),
      back_text: "Version #{@version.version}",
      ) do |component| %>
      <% component.with_title do %>
        <span class="text-2xl font-medium text-stone-700 w-fit">New Service</span>
      <% end %>
    <% end %>

    <%= render Services::ServiceFormComponent.new(service_form_object: @form || Service::Form.empty, version: @version) %>
  </div>
<% end %>
