<div class="dynamic-element flex gap-4 items-center">
  <%# hidden value for now as we will not support this yet %>
  <%= form.hidden_field :templated, value: '0' %>
  <%= form.text_field :name,
                      placeholder: 'ENVIRONMENT_VARIABLE',
                      class: 'w-1/2 text-input'
  %>
  <%= form.text_field :value,
                      placeholder: 'value',
                      class: 'w-1/2 text-input'
  %>
    <%= heroicon "minus-circle", class: 'flex-none size-6 text-red-600 cursor-pointer', data: { action: 'click->dynamic-nested-form-form-component#removeSubform' } %>
</div>
