<div class="relative z-10">
  <div class="flex flex-col gap-1">
    <div class="flex items-center space-x-2 justify-between">
      <div class="">
        <div class="font-semibold">Services</div>
      </div>

      <% if enabled_add_service_button? %>
        <div class="flex items-center">
          <%= link_to new_project_service_path(project_version.project_id, project_version), method: :get do %>
            <div class="rounded-md p-2 cursor-pointer">
              <%= heroicon 'plus', class: 'size-4' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% if services.empty? %>
    <div class="flex items-center justify-center h-48 border border-stone-300 mt-6">
      <div class="text-stone-500">Services will be visible here when created.</div>
    </div>
  <% else %>
    <ul class="grid gap-6 grid-cols-[repeat(auto-fit,minmax(22.125rem,1fr))] [@container(min-width:87.5rem)]:grid-cols-[repeat(3,28.1666666667rem)] mt-6">
      <% services.each do |service| %>
        <%= render Services::ElementComponent.new(service:, version: project_version) %>
      <% end %>
    </ul>
  <% end %>
</div>
