<div class="relative z-10">
  <div class="flex flex-col gap-1">
    <div class="flex items-center space-x-2 justify-between">
      <div class="">
        <div class="font-semibold">Services</div>
      </div>

      <div class="flex items-center">
        <%= link_to new_project_version_service_path(project_version, project_version), method: :get do %>
          <div class="rounded-md hover:bg-stone-600 bg-stone-700 p-2 cursor-pointer">
            <%= heroicon 'plus', class: 'size-4 stroke-2 text-stone-100' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if services.empty? %>
    <div class="flex items-center justify-center h-48 border border-stone-300 mt-6">
      <div class="text-stone-300">Your Services will be visible here. Create your first service</div>
    </div>
  <% else %>
    <ul class="grid gap-6 grid-cols-[repeat(auto-fit,minmax(22.125rem,1fr))] [@container(min-width:87.5rem)]:grid-cols-[repeat(3,28.1666666667rem)] mt-6">
      <% services.each do |service| %>
        <%= render Services::ElementComponent.new(service:) %>
      <% end %>
    </ul>
  <% end %>
</div>
