<div class="dynamic-element flex gap-4 items-center">
  <%= form.text_field :name,
                       placeholder: 'secret-name',
                       value: secret,
                       class: 'w-full p-2 rounded-md' %>
  <%= heroicon "minus-circle", class: 'flex-none size-6 text-red-500 cursor-pointer', data: { action: 'click->dynamic-elements#removeElement' } %>
</div>