<div class="dynamic-element flex gap-4 items-center">
  <%= form.text_field :name,
                       placeholder: 'SECRET_NAME',
                       class: 'w-full text-input' %>
  <%= heroicon "minus-circle", class: 'flex-none size-6 text-red-600 cursor-pointer', data: { action: 'click->dynamic-nested-form-form-component#removeSubform' } %>
</div>