<div class="dynamic-element flex gap-4 items-center">
  <%= form.text_field :name,
                       placeholder: 'SECRET_NAME',
                       class: 'w-full p-2 rounded-md bg-stone-700 text-stone-100' %>
  <%= heroicon "minus-circle", class: 'flex-none size-6 text-red-500 cursor-pointer', data: { action: 'click->dynamic-elements#removeElement' } %>
</div>