<div class="flex flex-col gap-4">
  <span class="font-medium">Resources</span>
  <div class="flex flex-col gap-8 p-8 pt-10 border border-stone-300 bg-white w-full items-start px-8">
    <% if fields.include? :cpu %>
      <div class="flex items-start grow w-full gap-8">
        <span class="font-medium w-16">CPU</span>
        <%= render Services::CPUSliderComponent.new(form:, options: cpu_options, disabled:) %>
      </div>
    <% end %>
    <% if fields.include? :memory %>
      <div class="flex items-start grow w-full gap-8">
        <span class="font-medium w-16">RAM</span>
        <%= render Services::MemorySliderComponent.new(form:, options: memory_options, disabled:) %>
      </div>
    <% end %>
    <% if fields.include? :disk %>
      <div class="flex items-start grow w-full gap-8">
        <span class="font-medium w-16">Disk</span>
        <%= render Services::DiskSliderComponent.new(form:, options: disk_options, disabled:) %>
      </div>
    <% end %>
  </div>
</div>
